replicaCount: 3

image:
  repository: ghcr.io/low-key2703/order-service
  tag: stable
  pullPolicy: Always

resources:
  requests:
    memory: "128Mi"
    cpu: "750m"
  limits:
    memory: "256Mi"
    cpu: "1000m"

hpa:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  cpu:
    enabled: true
    targetAverageUtilization: 70
  memory:
    enabled: true
    targetAverageUtilization: 80
