replicaCount: 2

image:
  repository: ghcr.io/low-key2703/order-service
  tag: main
  pullPolicy: Always

resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "128Mi"
    cpu: "500m"

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  cpu:
    enabled: true
    targetAverageUtilization: 70
  memory:
    enabled: false
    targetAverageUtilization: 80

sealedSecrets:
  enabled: true
  databaseUrl: AgAWl+7/hXlzQrWsE8PLd9zebdN+VTLZ1JJBvKyFvDHkK8RdAmDIi8uNcatRvOXVG/nXQwFjmJniLZMrJOXiMQLfXnSZ5GaLo5F+C1oFegIie6RDlCso90UYK1Vm29DqbOFJswpuBxhB8E7W55gDB+qp0+Sm78reqB0d4jg/QAVn3u9imauUyRVyQCzg2BVwhh+i9VbWyjk9rAhSe9OptUGh9nMFTBPdnsuqQPGXf/sinvN5+/lClt4B8hsis8UhV+5MxUFaau0c4FMB34+df6n2nR9011nIOZsUpaYnO68FVOG8ejm5bnUkCDj5+OP1q0j0IvfOX4FI26udYiAGtrjqBUNl43/0WCw8wRbY9dZfuuFbUPC59C4AJZ3nBs0qVKSAbdNSMaRJcOZ2NPo5eYORKvOWqCnHahPmZBew+u/SsMfCAEHGifcEiKVOQqBnAdmfXB5aRE/o3brs+LUqEOpHF1I4loKxyb7qaUcmpH0c9HsjeUl4F9dS30l6WFTtHedYV2wY+zAdaLf1Gb12lc0KKAQnlj3lBdJpTTrOIUvj3X2TlvZ1EMMDdIwC/2kQAutGD1xCCId58gJ/SjiSDrqPscatAP47HHHaAdHbT8BsVQiIzVwch0il+VU0vPeLoxlp0z+TP6HfGoIvAXCpRyJmdqYwJR7R1Q7ZPfSj10f2J9XKvgi/2m0IW4OmN9rGC0stTy0muTwI+mmjXrDa0dfNLQZIDNaR1G1RAmSa36SavGnk7Zkf8JyMWZWd+hO5id9+GFcqjTPFnoj1/YSYmuPVk6uDmK8LBp4MuG36xmwI6/db93LalwuLe19rN5wuEUfT
