replicaCount: 2

image:
  repository: ghcr.io/low-key2703/order-service
  tag: main
  pullPolicy: Always

resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "128Mi"
    cpu: "500m"

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  cpu:
    enabled: true
    targetAverageUtilization: 70
  memory:
    enabled: false
    targetAverageUtilization: 80

sealedSecrets:
  enabled: true
  databaseUrl: AgACrmgXfSvlGXXPK8AqrmF3kIG6tIV5LSWLj25lwSbV1hu5NJEQgFiBC08r9ppgnF36LTpz3WCxuVAB7FzwZFrdujRmUcipLhl30kvi0B6WivPgIZvNmfVHFl+8EywzVRuZLYZdSwP5cu1JrltkFkh49s0kAxY4Zz+nNlPq06XyHtcLpyQCcFkWTf3FIlg8j3PP4aKGeN0i4nTxV123VUOh783Zv/ufSJlEwwVWPxob50cw0anofxPveHEC6Gqq0HENpT/Nr7Xj+jlTp6e0BLqcXvSBoPvLLX0q6T39zlCfG9haAONG9nkui9y8z9773Epq+PH9HfeAXNYadeOo8euyZ6pYqXN6YMb+xQle64cEJ+DOD4WqW1Vhk+Br6Hu4OxwsMtK5+cPGtqRMCMZhf84cQg6hZjGX24rdHtt6YIKTyqQzIn2U4CDnb2D1mNxRLY081R67yhlTwkioSweeet5rw/qUDHlSLrxvgd/e+EARcwo5dYON3Ut2FovWiVLmsNKFt00TavPSco+4jlIPW0oykP+mXvbyaRZJONgerr6U9/LXnUbRXFsbZ3PTOsneYuExw4Ap7BgrOvibcmshGs09JlljfgaH3uemIjc3xYtHj6I2o4wyTqJIBhwKs77benWPb1+wkexA0UiqPzal1B60FG16FbQgS7yl8sPj3txY7GoV/CkyWDvXLclrDVhpGDwgFnd7MZlz3oe1LpMlAcbrDXfiP6oeV9LvHh6aSNge1ZxzQzOU5hChWcibG3+nFHHX+M9W9R4oKi6yHyCFhLSWtponATI+
