apiVersion: v1
kind: Service
metadata:
  name: cloudmart-product-service-service
  namespace: {{ .Values.namespace }}
  labels:
    app: product-service
spec:
  selector:
    app: product-service
  ports:
    - protocol: TCP
      port: {{ .Values.productService.service.port }}
      targetPort: {{ .Values.productService.service.port }}
