apiVersion: v1
kind: Service
metadata:
  name: cloudmart-redis-service
  namespace: cloudmart-dev
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
