apiVersion: v1
kind: Service
metadata:
  name: cloudmart-order-service-service
  namespace: {{ .Values.namespace }}
  labels:
    app: order-service
spec:
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: {{ .Values.orderService.service.port }}
      targetPort: {{ .Values.orderService.service.targetPort }}
