replicaCount: 3

image:
  repository: ghcr.io/low-key2703/product-service
  tag: "main"
  pullPolicy: Always

resources:
  requests:
    memory: "128Mi"
    cpu: "250m"
  limits:
    memory: "256Mi"
    cpu: "500m"

service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 8
  cpu:
    enabled: true
    targetAverageUtilization: 70
  memory:
    enabled: false
    targetAverageUtilization: 80

config:
  redisUrl: "redis://redis:6379"

sealedSecrets:
  enabled: true
  databaseUrl: AgBdNVGUuH2Vv0LZaC5dwK1rjJRJ/BTm1bLs8vh6LL8gSlDOZOQzL/VqXJhUPHy7EJuKmwNsFADYEnW2z1+6xWeHaCIZc7CxBvDF0vi/X58sAfxqEpfRjY7ihqMfWrcr9MA5DkQT4zOR7zL27ir7BOyyfDLWxdwGqNI2E1K8HmlsXa+i4I1HGBkFGTsRTTTVHRGye09CxzGdYpZNRyBKnvarGWW8fWnBtHr50mym9a0RKMgHRR0ThacXLV0uOVuCNXHTTLoFnSVXBiLcZ6L90tiybwx5U493/+/qSqojUepgCrV2DP+6JQpyxSkzKiOiG9tUDAk59pMczv0RtyJFv1KNyXqF16XtsxXC8t466w2cIHMIMubbYhOnlR82PW0wdCIlAfw60TI36KC3XzRjaGKJ+4k+nn0bKUOqpiHnNtCqidNP69g4tytm7f8i7A46nu5p7mZNCIZcPLGDHNPU3NoAk6HLcayOV2771RCH2/MwBzfhueZz0Yu9kGih6BhmuIMuNFUwKcAn4hB/bjEumCJpWN4o/An/InISwUtK4usH8xL97nz9FaDo3BmAyHqXVofd00qvJoESMiWjYlWavO0JTIplb6CuwCMmr6yDLKZtFlPCeEkMYS9QOANXGg3PJAdCVWwrGQwyJzqrc2/fFLEiwpK3VlyYdlVRJzlq9BtIyI3LzXDTF4/ytLL9HvZ0DRJ1Ocru8/lfWPJqUl+sqPwG8sN8cWvpUPO6rli1jIp4wv7qtqD6w5CABH9MG7Q0JA33A9EpWHM=
