{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-to-postgres
  labels:
    {{- include "infrastructure.networkPolicyLabels" (dict "name" "allow-to-postgres" "context" .) | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: postgres
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: product-service
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: order-service
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: user-service
      ports:
        - protocol: TCP
          port: 5432
{{- end }}
