{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-to-user-service
  labels:
    {{- include "infrastructure.networkPolicyLabels" (dict "name" "allow-to-user-service" "context" .) | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: user-service
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: api-gateway
      ports:
        - protocol: TCP
          port: 3001
{{- end }}
