redis:
  replicas: 1
  image:
    repository: redis
    tag: 7-alpine
  resources:
    requests:
      memory: "64Mi"
      cpu: "125m"
    limits:
      memory: "128Mi"
      cpu: "250m"
  service:
    port: 6379
    targetPort: 6379

postgres:
  replicas: 1
  image:
    repository: postgres
    tag: 15-alpine
  resources:
    requests:
      memory: "256Mi"
      cpu: "500m"
    limits:
      memory: "512Mi"
      cpu: "1000m"
  service:
    port: 5432
    targetPort: 5432
  storage:
    size: 1Gi
    # className: standard
  config:
    POSTGRES_DB: cloudmart

ingress:
  enabled: true
  className: nginx
  host: cloudmart.local
  tls:
    enabled: true
    secretName: cloudmart-tls-secret

networkPolicies:
  enabled: true

sealedSecrets:
  enabled: true
  jwt:
    JWT_SECRET: AgBofdJgHkOGRifsm/6I1oKWHCEEGdQa7Ji2kMrR5dk9CtFCj3JLNNnaUWIhhB9vcdunYFkQEHRWBQhVrNeNNIaFPmxV6vjwoZWoqKlcdoYLm4VpsFvITIYvx6//Q4VuHVj/CMB4ct5hAxVJvADdbYtY4EGjqixynw/v3baB4tHWM0zvtQoYBABSy10Hd2OgaPYXHlNxc676q13nRHsxgbipGbpYUkaxe4EzeXWUhZv176P9dV23qArJH5wn+mFF1fwyTjbjNilVq3b2d6SCynZhKNP772m4God4dmD9v81+/H5O2q8TgnNt9rMPCU7AZJWrzkZXo4PYuC5pOE6HyKOyQZ5eC1Iib64gDeeFd7H3d/Sxx+yLGFJHossFSk6oR3LLm6HryFqKdZ/vpwn1IpNz4b6n3cO79lIGQreDZKMjmeAoaYjio3C8KYabgpsndAw5MI9GRZdvrA3acMATYwNS1MjvbVJY2xLAUevrZvdhyAOe1LamGWl30vqH3OgAKqhQy3WL1+0tP/rSNzkshvTZ4aqX4rbWqF/kaAZvc1cOUBiqzVbyeJVJPfjGJ2UKoBlRw3tDZ51aKhUIv0gAtqeM134gVmbibpMI7amwYCYs93BNiAMfNoE0ZKc1Iiuykl0KUbxZQ6JWLYZbAvsu5z+794CK07boiJn2plTUkXnN8ogw/Z3c0obameu00X/EtJcyncz5OXyLeGYnuE6PpHkdhKHNxTc8LCR7Q8UqritImI61aD6PPFqu3WT3wQ==
  postgres:
    POSTGRES_USER: AgDGWbLSQM6g9TQrcQPS3fIKnYh3heSZn7sP41MFa0+c35bGhwqQ0WpkFcvTaGB8sy/MS0tUzrfqpp6Bgql2bR0cNnkZBDS3kz7pRX/59NQpQcBBEc9HHe4iGnxIdIUypABV4Z68koaN6snHz/kH19h1rrpljiUkYxJdAWIDNgK2yCdGNnuxf8PBY3Nn777S43KgKhpkEdWx7DubaK0TA+lQFyIW3MZiPhxJyceY5vyH9YAh7thTa+FdFbTnzKkY86/0XxeY+kGjyapFDm8/sUYu0LvrP0kQ8H5bRrf1UXFkQTWm86hDQ7GySK7QTViYYuBRdOyuE1Eom8fHtGonZU1fv7wYf9LbC4Vwvixf+kRGxTwHalIpFpcdMyYJDAAO8aZn4Ul7TMpAO0kCf6447kJkd04H8gMKnYG7pTpkoYkCBeIKhgUPSzkSzETBZgGHDIxjDU+FtVNVRUau96XxaxOOmIf7xOMcKJwNUg4dsnE2VTGfqwfr9yxC0m6ysADPN7t7j3IJ0RqCNgWtV/vCKs3+8bCX0NtbfCba7VJFKHpOIkKRIH3KQyelveRIAAd6Ym1L3mgN/4wxZR/e5QVg4iQuNVPEBsp0+3s7/H1/paXZTUgBcbdp+ghouLA8qHyr/rjbEGdGGMFE3m6YHUluvYpx23KjmlQheQgHzeA5r12tDnE7mqULC0YkygkkLUb6DfQ1ZuBeVUpAKg==
    POSTGRES_PASSWORD: AgBPgT/XLmeY/eAxsdkJIQmBRGS3XlT8FI8JIxXvLaz6JpWo7m0s9gIPd+zUy6VWgfBMOlU7zOA8GkBXN09iZ0HqBOyP3J73NgRMzzkIp8u2vE8+mFtNNaponSkcXpbVHiCV9LRM+BNeMF+wS2jwszk+3DbxtkFbwT3x5Fu5fYZyIhCD+hLjRpexP47FQTBedE9XBxO4uLa+WGdGE2Xea7BjKKGg4P81c3WiytOj9rb/hW3i4x3SH++tp+2t/B4IkmK/kCZLW4zwjXdlINJvqAKgZLU+uc75DFPyLQPge7NEivoA7aH/KRy6kngvG8CAOeWcQn20fZNxY4aZ+i7Vc4RAY/BllFctJqEy3Qt5nrKaaYFncqFEwYgOwKJBPhQQ4n+86KVbPWO7DTjD3eZTGsNCEIJNwNzL1EtnmuvI3ZDET+174q5Nv/SQdanj++g84Vyo/UHuSQyG+lFprkXSGR/90H9znIKHLV7weMG8aWxQygIw8wcqmVyw91mZswDartygVKNULQfca3EyDPjNu5SoyGOicHECpAj9HHonFXXupLNwvjsPgGiUTqRoxk5au+xtTz63gUa0Ca+a7BgPSeqoLE5XymhxHrhudX2SaFPzQlpaRfKcSVgzOALBYYGPqt0AHOPxZybsbhmnbnVlzGuCK5pe5OoQzoa1hQrkjUKpkSO59NcmT3cfRhQVWzxeMqVfl1LojvJYeA==
