redis:
  replicas: 1
  image:
    repository: redis
    tag: 7-alpine
  resources:
    requests:
      memory: "64Mi"
      cpu: "125m"
    limits:
      memory: "128Mi"
      cpu: "250m"
  service:
    port: 6379
    targetPort: 6379

postgres:
  replicas: 1
  image:
    repository: postgres
    tag: 15-alpine
  resources:
    requests:
      memory: "256Mi"
      cpu: "500m"
    limits:
      memory: "512Mi"
      cpu: "1000m"
  service:
    port: 5432
    targetPort: 5432
  storage:
    size: 1Gi
    # className: standard
  config:
    POSTGRES_DB: cloudmart

ingress:
  enabled: true
  className: nginx
  host: cloudmart.local
  tls:
    enabled: true
    secretName: cloudmart-tls-secret

networkPolicies:
  enabled: true

sealedSecrets:
  enabled: true
  jwt:
    JWT_SECRET: AgCZZpOIM+2Yp0BrZf0x8AmvqSAyVUq5c/ttAtidAmLK/uod+Ks6yizLVveixuFSZU+yWRI2q/3TLgKd2ak5pfNhEsfnqcpLl/8b2zrNM7pDD2vx+b2LEZIg9HxdS6kwUemn9aKQvrtdFBB/6Ms0m7V+pMRNO+kcR0d0Bxgl2bKyzw7S09IdNdUFDt0UlQyVYF0H9u2Bj4rcw/RAlTRvwoZX0ydm8K4SFEt6LjJv4RXkkkzzeJgUhv50gOcNIGeL4sbwGdWogpmXotLbA5Fwl84QU0g8tunOou806M/g7Mr3qS3fryUyEeUTZJT6EKoAdxp0RHHqPpQSVrlyKC33cKIxLkIiWHIMp7wZmo5/Zo+NPZ0nYbNjn/GVr/foPZEZ9V6wnABcH5TzFrJgpPeCgXs10TB/sNtyhibGNrpahnXq2Po5czLaJJqlmw4ZmWxQXZHiWjskd3/j6gHMfeiF/TBQkm8OsP++yEifAQpuPWP65bBGsuLyTzo8X65p9Lps4QPg6jYSQfH5kYGDHlzvwiW6vi/btk2od0TAR4fQ48R75Ace2ehhbBpZCyzfMKEoKViUEaU73BW4edRckuU3VER7oQbdUjxbLULiVeoZw17POF1vdEp+k7arkPHfA0nLkyb2ULxCennx65TJMhY8OtWkixrNN6iR55tNgPqhe64KVJrsdjGXBWIhIGXu0KZI/WZ9EAgsRdTEtW2fwjYZTxJGUVXp7yUXzs0ICD74Tn+9acdrYkso4uE8wPh2GsebcEIyMFyG1ia1yqYgsNmynWmGgfEwQekS/0vXo+AEo7h2wtJWC5ON2toQ
  postgres:
    POSTGRES_USER: AgALuiQ5/E/JdY0HgkxPmrrl4pJLjPbMaxAQ1F1tTjG6cT2iVvPiBNOlTuOlTWyruhQivabHJ6sqkHyeHWB+y3eD6f4fQsRTJ02GYQPvmEf1n9hI/Ge1xxrawpNQ4ZiJTE0wTJifsgfxZ5buC2M6uu0qv9b31D6SVhBBv/MpegB7LAH1tTzV3850Py94zzswxHQJhd49f7XbFs1a4X2rAncrVD2tgHtDMGIhMuT7Io8Qd2DdSPbnHPxJXwRchzA7o5UdcFxL/GxOIgrMBvXwYCLJmu9u0r8C13mlcvZBMZZqUFOVrv8kYq8N3JyOkIuMGAQoG7oMJbldcuBTAR8es0Zz/pN8EajW/ljnCS3M8ua7zHoNnBMkZ+SNfRgQzVYMvuNHKRTAbwYVsR/aUgp/woNr7rDXVMlX1R9IzLujkFjiUvvq+Ihn0ahh/j4dMsvwXUAagXlWchcp4r/+SidNa+uogkLF9GKx3gscMq4A+R82zFaHP5GUeM5yxr+7iYBXTy29uaTSHRb4ZYdShADT661zrGdSukGsj/j2JpkD4zjCEI/4/l0d2SRSBE6kK5QihPXzdWuYDGoHx3KKAOLglf3LfJ8AnD8/+y2hGmjl4Ht2Wjdm1GS23KUzk0wEU9XWqrAeNqeKQbtQfoia4UdjaaJh+KCoHoVuj0Q05slrmtuahoe1mKzHSLDVh4lFullecs9i/XxNoFuHSg==
    POSTGRES_PASSWORD: AgA/c6Ol1plbfHLMN34F8pOEN9jL7nJlEeV94H9fSZ9rHkGZujuYPqYgHZD7aJyUyJpgfUN8x/RbBnOLEgBpIa3MfGI9ENg9oFvddeMea+8uRt/V5cf8xpqpz0soIcZ87d47nPyEQ9R0ljrIuMmb8SYGrLsOmhVorwXb+bkI7vDL9yKof6+j9+9nrbo2zBw0ETugzex1uTlMSO+Plky5YQaVVN94R26BBskBnxfQxt/5eEuVfl6Csf0jXBr0e0huN4PfWXeQfp/ltNOhWOKQ7rjX7UlHb+rtZxCNDUkLwRFQZYpkbPxE8adiPjggVb6L/+n+GnnMbM9HZc+XJXKgMRc7EYOQiTEXJl6zD+C8FdR4Emo3C2dbMdXcEMfYx0vQQ53FsaDJuNMQcfhW5sBmQEbfFZiuud2wyQeBZGSB+9Bk46EcraWRGJgr8wMRAJEJkw+uO0zLN2+YhLfHkOkZLBOIm34dVy13l+qwaV27Vo36WIlfqEF0GMS7Xi6a4wY+IqZoRFgRx7YI+KjLIfeJuLfjlaC1ekNZPtNR0pOEIBQL5LaGG7utVzJ69ql2WAThNRux+4i23PjsswtjK8tyqD2vzYWd/aDKp5Mu9fWYIppCF88o89a70K1poSj+SeQcwZyfAfZYGFZfJYeYT0DdDU6ol9/DJ0s9g64eSTv+nHsSaew9caykCNU5cM3PRjOKRqKywsdY277PKQ==
