redis:
  replicas: 1
  image:
    repository: redis
    tag: 7-alpine
  resources:
    requests:
      memory: "64Mi"
      cpu: "125m"
    limits:
      memory: "128Mi"
      cpu: "250m"
  service:
    port: 6379
    targetPort: 6379

postgres:
  replicas: 1
  image:
    repository: postgres
    tag: 15-alpine
  resources:
    requests:
      memory: "256Mi"
      cpu: "500m"
    limits:
      memory: "512Mi"
      cpu: "1000m"
  service:
    port: 5432
    targetPort: 5432
  storage:
    size: 1Gi
    # className: standard
  config:
    POSTGRES_DB: cloudmart

ingress:
  enabled: true
  className: nginx
  host: cloudmart.local
  tls:
    enabled: true
    secretName: cloudmart-tls-secret

networkPolicies:
  enabled: true

sealedSecrets:
  enabled: true
  jwt:
    JWT_SECRET: AgBQA8VgBkgPUKqJ/1xxRcUXqeySD9s6Y/yVS1NFhbSxZ7JZM4uwJDA4x2u5P+HxTGZ+KHUyqhB7Zf+JxYtKSiUY4XYV7f8/JCJ/Jz1mnuzYBhBaoH59zPMdmYFo054ek96C7ETOzmcIyIqGKSyfNOfkXXq8vc1juWTJA2WoTELfKBddOLFVuzcY+MefN3TMTDxeoaXk9jJukH3vhjJD1acgrBlLjwsY7zlXkLetUF5VBBVc+2o1uhIU4pA7Kqt6//8m1gXjBawF9tQIy/7cUjH+mjdlN08y1lu9fPsppMlxD6xQ7b95h867eUD5REYQxyCYfe7/3HXqICn05hh1BjyVDxXiY5ssKpAx9YC354xUevKw8xfrMnwjpGTyP9FHzr9Lpv7rjh3Va9oDLeVyyu6wstPzPbT4T3uvazOD2X48tTUBVFX5jSa1tw82Mnw6cD+0lyJum2QNrMMmrk9cwDi63KmTZG7CIFnv7/E1dQ1w58+lQMNO+IVG46puxwjOXmaDkxFYc7ePDHG7W6MTGLxLrWIL05mpOQ74p71OpzvLGYI7YjS5JhjXZJlbF9l0xHliHXwXS8U+gZS3xCzkL/MpoBpCRcQmtVBwHSp4/k/R0V7vMajGpWCayXSg1ZyhGceU3lifrB8BPqRYq/VEdAoD3Ddi+4i1DOHf9zrytkgtpOGE79cC5EDQXyBLHbhWSmtFqRZmwj7eitMLOvRCJhuWxuney1tGRLu5GIviAt8WoNX2WuOBk8eFrDPDCA==
  postgres:
    POSTGRES_USER: AgDGWbLSQM6g9TQrcQPS3fIKnYh3heSZn7sP41MFa0+c35bGhwqQ0WpkFcvTaGB8sy/MS0tUzrfqpp6Bgql2bR0cNnkZBDS3kz7pRX/59NQpQcBBEc9HHe4iGnxIdIUypABV4Z68koaN6snHz/kH19h1rrpljiUkYxJdAWIDNgK2yCdGNnuxf8PBY3Nn777S43KgKhpkEdWx7DubaK0TA+lQFyIW3MZiPhxJyceY5vyH9YAh7thTa+FdFbTnzKkY86/0XxeY+kGjyapFDm8/sUYu0LvrP0kQ8H5bRrf1UXFkQTWm86hDQ7GySK7QTViYYuBRdOyuE1Eom8fHtGonZU1fv7wYf9LbC4Vwvixf+kRGxTwHalIpFpcdMyYJDAAO8aZn4Ul7TMpAO0kCf6447kJkd04H8gMKnYG7pTpkoYkCBeIKhgUPSzkSzETBZgGHDIxjDU+FtVNVRUau96XxaxOOmIf7xOMcKJwNUg4dsnE2VTGfqwfr9yxC0m6ysADPN7t7j3IJ0RqCNgWtV/vCKs3+8bCX0NtbfCba7VJFKHpOIkKRIH3KQyelveRIAAd6Ym1L3mgN/4wxZR/e5QVg4iQuNVPEBsp0+3s7/H1/paXZTUgBcbdp+ghouLA8qHyr/rjbEGdGGMFE3m6YHUluvYpx23KjmlQheQgHzeA5r12tDnE7mqULC0YkygkkLUb6DfQ1ZuBeVUpAKg==
    POSTGRES_PASSWORD: AgBPgT/XLmeY/eAxsdkJIQmBRGS3XlT8FI8JIxXvLaz6JpWo7m0s9gIPd+zUy6VWgfBMOlU7zOA8GkBXN09iZ0HqBOyP3J73NgRMzzkIp8u2vE8+mFtNNaponSkcXpbVHiCV9LRM+BNeMF+wS2jwszk+3DbxtkFbwT3x5Fu5fYZyIhCD+hLjRpexP47FQTBedE9XBxO4uLa+WGdGE2Xea7BjKKGg4P81c3WiytOj9rb/hW3i4x3SH++tp+2t/B4IkmK/kCZLW4zwjXdlINJvqAKgZLU+uc75DFPyLQPge7NEivoA7aH/KRy6kngvG8CAOeWcQn20fZNxY4aZ+i7Vc4RAY/BllFctJqEy3Qt5nrKaaYFncqFEwYgOwKJBPhQQ4n+86KVbPWO7DTjD3eZTGsNCEIJNwNzL1EtnmuvI3ZDET+174q5Nv/SQdanj++g84Vyo/UHuSQyG+lFprkXSGR/90H9znIKHLV7weMG8aWxQygIw8wcqmVyw91mZswDartygVKNULQfca3EyDPjNu5SoyGOicHECpAj9HHonFXXupLNwvjsPgGiUTqRoxk5au+xtTz63gUa0Ca+a7BgPSeqoLE5XymhxHrhudX2SaFPzQlpaRfKcSVgzOALBYYGPqt0AHOPxZybsbhmnbnVlzGuCK5pe5OoQzoa1hQrkjUKpkSO59NcmT3cfRhQVWzxeMqVfl1LojvJYeA==
