apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "api-gateway.fullname" . }}-config
  labels:
    {{- include "api-gateway.labels" . | nindent 4 }}
data:
  PRODUCT_SERVICE_URL: {{ .Values.config.productServiceUrl | quote }}
  ORDER_SERVICE_URL: {{ .Values.config.orderServiceUrl | quote }}
  USER_SERVICE_URL: {{ .Values.config.userServiceUrl | quote }}
  REDIS_URL: {{ .Values.config.redisUrl | quote }}
