apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudmart-user-service-deployment
  namespace: cloudmart-dev
  labels:
    app: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: cloudmart-user-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3001
          envFrom:
            - secretRef:
                name: cloudmart-user-service-secret
            - secretRef:
                name: cloudmart-jwt-secret
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"

          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 30
            periodSeconds: 30

          readinessProbe:
            httpGet:
              path: /health/ready
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 15
            failureThreshold: 3
