apiVersion: v1
kind: Service
metadata:
  name: cloudmart-user-service-service
  namespace: cloudmart-dev
  labels:
    app: user-service
spec:
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001
      nodePort: 30008
  type: NodePort
