apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cloudmart-postgres-database-pvc
  namespace: cloudmart-dev
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
