apiVersion: v1
kind: Service
metadata:
  name: cloudmart-redis-service
  namespace: {{ .Values.namespace }}
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: {{ .Values.redis.service.port }}
      targetPort: {{ .Values.redis.service.targetPort }}
