apiVersion: v1
kind: Service
metadata:
  name: cloudmart-product-service-service
  namespace: cloudmart-dev
  labels:
    app: product-service
spec:
  selector:
    app: product-service
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000 
