apiVersion: v1
kind: Service
metadata:
  name: cloudmart-api-gateway-service
  namespace: cloudmart-dev
  labels:
    app: api-gateway
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30007
  type: NodePort
