replicaCount: 2

image:
  repository: ghcr.io/low-key2703/user-service
  tag: main
  pullPolicy: Always

resources:
  requests:
    memory: "128Mi"
    cpu: "250m"
  limits:
    memory: "256Mi"
    cpu: "500m"

service:
  type: ClusterIP
  port: 3001
  targetPort: 3001

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  cpu:
    enabled: true
    targetAverageUtilization: 70
  memory:
    enabled: false
    targetAverageUtilization: 80

sealedSecrets:
  enabled: true
  databaseUrl: AgAFgEBnIAUypEvR5fLJDaEHX1HufL9vYs0Voj+QEYAhH3YIoZHW20wA8Z1YvQqZonnNZM+6IcLFhDWOsQc+AdTLdqniLYuFcJc0yoDxW0KecksbaBOXglzQYqhYHs4nttFe8oDm1sC6L0iDMLf8zLhTYg3iZwYukpZLX2dTS41kTf80kvrd6ZkCsxgnhehh0JepkBEPFfj9H97X97VHCcj1kZgqA9lLpFLQCG41a9xrW5m0PoLcB2FVJh0Dd/SQnLECKt6exWNeknzf6Bu4MpzuzTicDktF7pG5i1vsifPV5VXzpZqk8rZsWgwBY50XlYTWkU8OkKpwap+DCWxeOluXDIWNHTmga+MYLaoSzbIRTWp06UacM7HxGgtaBfe/5SPoD3cHsEQVfZ5eDANRtEORVfbDbfvGcMIQ1FMKrvZXL0yqp605tx3xtPkyW3xtx8Xbb/tyT9B2URWoxfOnwPsAn26FHF4zxymAj7RgbuuHoytWRemtLSGa0z5tCqqht0Mi498ZPrXvmDLRPqazDUOL/WZgM/NLhEXhLUWuprp67S11OVu1Ki+hmIban3hKIzztBR+Uisq52w1oags/aD/lNxulN/j3jsGHRUgyaGqYTKMn8W9eVi+/udeVmBMl1lvGLs9+Mot30AJvPZDKph6f/WD+rSInW2LM1Wq1jhW9E9c50Del190WKpKkyTzZWyNxcsEqf+iogd+2CpCQyLGB2xmjGaAwVHv5//DN+X9kk+JHA9/8+IMJWfoMjSklfHXEIOMjkcc=

# JWT secret is shared - deployed via infrastructure chart
sharedSecrets:
  jwtSecretName: jwt-secret
