replicaCount: 3

image:
  repository: ghcr.io/low-key2703/user-service
  tag: stable
  pullPolicy: Always

resources:
  requests:
    memory: "512Mi"
    cpu: "750m"
  limits:
    memory: "1024Mi"
    cpu: "1000m"

service:
  type: ClusterIP
  port: 3001
  targetPort: 3001

hpa:
  enabled: true
  minReplicas: 3
  maxReplicas: 8
  cpu:
    enabled: true
    targetAverageUtilization: 70
  memory:
    enabled: true
    targetAverageUtilization: 80
