apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infrastructure
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: cloudmart
    environment: dev
spec:
  project: default
  source:
    repoURL: 'https://github.com/low-key2703/cloudmart-devops.git'
    targetRevision: main
    path: 'infrastructure/kubernetes/helm/infrastructure'
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: cloudmart-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
